#header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 50px;
}

#try-free-btn button {
  width: 200px;
  height: 50px;
  color: hsl(208, 11%, 55%);
  background-color: white;
  border-radius: 40px;
  font-size: 15px;
}
